 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    
 }

 section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #101729;


 }
 .separado{
    
    display: flexbox;
    width: 100vw; max-width: 50vw;
    background-color: #101729;
    }

 header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px  100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 header .logo{
    position: relative;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
 }

 header .navegacao a{
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    background: #c63eac;
    text-decoration: none;
    
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;

 }

 header .navegacao a:not(:last-child){
    margin-right: 30px;
}

header .navegacao a:hover{
    background: #9e40ef;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
    font-size: 20px;
    

}

.content .info h2{
    color:#fff;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;

}

.content .info h2 span{
    color: #000;
    font-size: 50px;
    font-weight: 600;
}

.content .info-btn{
    color: #000;
    background: #c63eac;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background: #9e40ef;

}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color:#c63eac;
    font-size: 25px; 
    transition: 0.3s;
    transition-property: transform ;
}

.media-icons a:not(last-child){
    margin-right: 60px;

}

.media-icons a:hover{
    transform: scale(1.5);
}


#check{
    z-index: 3;
    display: none;
}


.img-fluid{
    position: absolute;
    left: 50%;
    bottom: 8%;
    width: 720px; 
    height: 600px;
    border-radius: 30px;
}

.container{
    color: #000;
    background-color: #c63eac;
    width: 1700px;
    height: 555px;
    position: relative; 
    border-radius: 55px;
    left: 2%;
}

.texto1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20%;
    
}

.texto2{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    position: relative;
    top: 20%;
}

.paragrafo h2{
    color:#fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 650;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    position: absolute;
    top: 200%;
    left: 30%;
}

.row{
    position: absolute;
    justify-content: center;
    align-content: center;
    top: 220%; 

       
}

.rodape{
    position: absolute;
    
}
.padrao{
    color: #fff;
    position: absolute;
    justify-content: center;
    align-content: center;
    margin: 20px;
    padding: 50px;
}
.padrao .h2{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20%;
}
.padrao .p{
    
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20%;
}
.conteudo img,
.conteudo p {
    
    vertical-align: middle; /* Alinha verticalmente */
}

.conteudo img {
    margin-right: 10px; /* Adicione margem à direita para separar a imagem do texto */
}
.imagem {
    width: 100px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}
.padrao article strong{
    color: #9e40ef;
}